.section
{
	margin: 0px;
	top: 0px;
	bottom: 0px;
	width: 2000px;
	float: left;
	height: 2100px;
}

.section p
{
	margin: 20px 0px 0px 70px;
	width: 900px;
}



.section ul
{
	margin: 10px 0px 0px 50px;
}

.section ul ul
{
	margin: 0;
}

.beige
{
	background: #f3f1ea url("images/toGray.png") no-repeat top right;
}

.gray
{
	background: #d8d8d8 url("images/toBeige.png") no-repeat top right;
}


.section h1
{
	font-family: 'Playfair Display', 'Vollkorn', serif;
	font-size: 60px;
	color: #1e1c19;  /* Darkest */
	margin: 70px 0px -25px 50px;
	height: 115px;
	background: url("images/brushh1.png") no-repeat;
}

.section h2
{
	font-family: 'Vollkorn', serif;
	font-size: 20px;
	color: #7a7878;
	margin: 20px 0px 30px 50px;
	font-style: italic;
	font-weight: thin;
}

.section h3
{
	font-family: 'Playfair Display', 'Vollkorn', serif;
	font-size: 18px;
	color: #fc6d52;
	margin: 10px 0px 10px 50px;
}

.section h4
{
	font-family: 'Playfair Display';
	font-size: 16px;
	color: #333333;
	margin: 20px 0px 10px 60px;
	font-style: italic;
}

body
{
	background-color: #f3f1ea;
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	width: 8000px;
	position: absolute; /*lol see what happens when you remove this?*/
	top: -10px;
	left: 0px;
	bottom: 0px;
	overflow-x: hidden;
}

a:link
{
	color: #7a7878;
	font-style: normal;
	text-decoration: none;
}

a:hover
{
	color: #fc6d52;
	font-style: normal, italic;
	text-decoration: none;
}

a:visited
{
	color: #7a7878;
	font-style: normal;
	text-decoration: none;
}

a:visited:hover
{
	color: #fc6d52;
	font-style: normal;
	text-decoration: none;
}

